.header {
  height: 50px;
  display: flex;
  background-color: rgb(248, 1, 1);
  position: fixed;
  left: 40px;
  right: 40px;
  top: 0;
  width: 100%;
}

p {
  margin-left: 20px;
}

img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.left {
  display: flex;
  align-items: center;
  padding-left: 40px;
  justify-content: space-evenly;
  width: 200px;
}

.right {
  display: flex;
  align-items: center;
  margin-right:50px;
  margin-left: 200px;
  justify-content: space-evenly;
  width: 300px;
  align-self:right;
}

.btn {
  margin: 10px;
}
